.header {
    max-width: 100%;
    margin: auto;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    background-color: #003b95;
  }
  
  .list {
    display: flex;
    gap: 1rem;
  }
  
  .list a {
    text-decoration: none;
    color: var(--color-gray-300);
  }
  
  .list a:hover,
  .list a.active {
    color: var(--color-gray-100);
  }