.header {
    max-width: 60rem;
    margin: auto;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
  }
  
  .list {
    display: flex;
    gap: 1rem;
    list-style-type: none;
  }
 
  .list a {
    text-decoration: none;
    color: rgb(53, 34, 148);
    background-color: #6682f4; 
    color: #fff; 
    border: none; 
    padding: 10px 20px; 
    font-size: 16px;
    font-weight: bold; 
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .list a:hover,
  .list a.active {
    background-color: #3e3e45;
  }



 
 
